.sql-console-wrapper {
  display: flex
}
.sql-console-content {
  background: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 99vh;
  justify-content: center
}
.sql-console-header {
  display: flex;
  
  /* flex: 1 */
}
.sql-console-header-left {
  display: flex;
  flex-direction: column;
}
.sql-text-editor-wrapper {
  padding: 15px 15px 0px 15px;
  min-height: 250px;
  
}
.sql-table-wrapper {
  padding: 15px;
  /* height: 67%; */
  flex: 3;
  overflow: auto;
}
.sql-connect-settings-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 200px
}